$tidy-asparagus: (
  50 : #f0f4ed,
  100 : #d8e3d3,
  200 : #bfd0b5,
  300 : #a5bd97,
  400 : #91af81,
  500 : #7ea16b,
  600 : #769963,
  700 : #6b8f58,
  800 : #61854e,
  900 : #4e743c,
  A100 : #d9ffc8,
  A200 : #b6ff95,
  A400 : #93ff62,
  A700 : #82ff48,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #fff,
    600 : #fff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$tidy-coral: (
  50 : #ffeeeb,
  100 : #ffd4ce,
  200 : #ffb8ad,
  300 : #ff9c8c,
  400 : #ff8674,
  500 : #ff715b,
  600 : #ff6953,
  700 : #ff5e49,
  800 : #ff5440,
  900 : #ff422f,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffddda,
  A700 : #ffc6c1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
