<div class="tidy-task">
  <mat-checkbox color="accent"
                [checked]="tidyTask.completed"
                (change)="onChecked()"
                [ngClass]="tidyTask.completed ? 'tidy-task-completed' : ''">
    {{tidyTask.description}}
  </mat-checkbox>
  <div class="actions">
    <mat-icon matBadge="{{tidyTask.rating}}" matBadgeColor="primary">favorite_border</mat-icon>
    <button mat-icon-button color="accent" (click)="onDeleted()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
